/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-jun-2014, 13:06:06
    Author     : Richard de Jongh
*/

nav a{
	font:bold 100% Arial;
        
	color: #FFF;
}

nav ul {
	list-style-type: none;
	width: 100%;
        font-weight: 400px;
}

ul#mainnav  {
	margin-left: 10px;
}

.active {
	background-color: red;
	color: red;
        
}

ul#mainnav > li {
	text-align: center;
	width: 16%;
	height: 25px;
	position: relative;
	float: left;
	margin-right: 1px;
	margin-top: 10px;
        border-radius: 35px;
        
}

ul#mainnav  a {
	text-decoration: none;
	width: 100%;
	display: block;
	height: 100%;
	margin-top: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
	background-color: #341A09;
	border: 1px;
	border-style: none solid none solid;
	transition:background-color 0.7s;
        cursor: pointer;
          border-radius: 35px;

}

ul#mainnav li:hover  a:hover {
	background-color: rgba(255, 102, 26, 1);
}

ul#mainnav li:hover > a {
	background-color: rgba(255, 102, 26, 1);
}
